@media only screen and (max-width:768px){
	div.contact{
		padding-left:50px;
	}
}
@media only screen and (min-width:768px){
	div.contact{
		padding-left:150px;
	}
}
div.contact{
	max-width:600px;
	margin:auto;
	text-align:left;
	
}
.contact img{
	width:2em;
	height:2em;
	vertical-align:middle;
	margin-right:5px;
}

.contact p{
	font-size:20px;
	text-align:left;
}
a img{
	padding:3px;
}

a img:hover{
	padding:0px;
	transition:0.5s ease;
}