*{
	box-sizing:border-box;
}
/*for mobile phones:*/
@media only screen and (max-width:768px){
.col-s-1{width:50%;}
.col-s-2{width:100%;}
.burger-menu-bouton{
	display:none;
	padding:10px;
	width:50px;
	height:auto;
	background-color:#8c8a84;
	position:fixed;
	top:300px;
	right:0px;
	z-index:10;
	cursor:pointer;
}
.burger-menu-bouton span{
	width:30px;
	height:5px;
	background-color:#000000;
	display:block;
	margin-bottom:5px;

}
.burger-menu-affiche{
	display:none;
	width:100%;
	height:150%;
	background-color:#24452a;
	position:fixed;
	z-index:1;
	margin-top:-50%;

}
.burger-menu-affiche ul{
	margin-top:50%;
	padding:0px;
	text-align:center;
}
.burger-menu-affiche li{
	list-style:none;
	margin-bottom:50px;
}
.burger-menu-affiche li a{
	color:white;
	text-decoration:none;
	font-size:40px;
}
.burger-menu-affiche li a:hover{
	text-decoration:underline;
}
.rotation45{
	transform:rotate(45deg) translateY(7px) translateX(7px);
	transition:transform 0.5s linear;
}
.rotation-45{
	transform:rotate(-45deg);
	transition:transform 0.5s linear;
}
}

/*for desktop:*/
@media only screen and (min-width:768px){
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
.burger-menu{display:none;}
}
body{
	font-family:Verdana;
	background-image:url(../IMAGE/gris_1280.png);
	background-size:cover;
}
div.page_content{
	margin:auto;
	text-align:center;
	margin-top:30px;
}
nav a:visited {
	text-decoration:underline;
}
nav a:hover {
	text-decoration:underline;
}
.next-page-box{
	width:100%;
	height:auto;
	position:relative;
	margin-top:210px;
	margin-bottom:0px;
}
.turnpage{
	width:100%;
	margin:auto;
}
.turnpage p{
	font-size:40px;
	font-weight:bold;
	text-align:center;
}
.turnsymbole{
	background-color:#9b9e9c;
	padding:30px;
}
.turntext{
	background-color:#7e8580;
	position:absolute;
	top:0;
	bottom:100%;
	height:0;
	overflow:hidden;
}
.next-page-box:hover .turnpage{
	bottom:0;
	height:auto;
	padding:30px;
	transition:.5s ease;
}
.foot a{
	color:black;
	text-decoration:none;
}
