body{
	font-family:Verdana;
	background-image:url(../IMAGE/gris_1280.png);
}
div.page_content{
	margin:auto;
	width:90%;
	text-align:center;
	margin-top:30px;
}
nav a:visited {
	text-decoration:underline;
}
nav a:hover {
	text-decoration:underline;
}