@media only screen and (max-width:768px){
	.homepage{
		display : none;
	}
	.mobileText{
		width:100%;
		text-align: justify;
		background-color:  #cccc66;
		border:5px solid white;
		padding:10px;
		position:relative;
		margin-bottom:80px;
		line-height:1.6;
		left:-600px;
		transition:1s ease;
	}
	.mobileText:after{
		content:attr(title);
		width:100px;
		height:100px;
		line-height:100px;
		border:5px solid #cccc66;
		border-radius:50%;
		background-color:white;
		display:block;
		text-align:center;
		font-size:28px;
		font-weight:bold;
		color:#cccc66;
		position:absolute;
		right:5px;
		bottom:-70px;

	}
	.mobileText:first-child{
		background-color: #ffcc66;
	}
	.mobileText:first-child:after{
		border-color: #ffcc66;
		color:#ffcc66;
	}
	.mobileText:last-child{
		background-color: #66ccff;
	}
	.mobileText:last-child:after{
		border-color:#66ccff;
		color: #66ccff;
	}
}
@media only screen and (min-width:768px){
	#mobilecontent{
		display:none;
	}
}

img{
	max-width:100%
	height:auto;
}

.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:auto;
	margin-bottom:30px;
	width:80%;
	flex-wrap:wrap;
}
.flex-item{
	padding:10px;
}
.flex-text{
	text-indent:50%;
	text-align:justify;
	width:500px;
	line-height:2;
	position:relative;
	left:800px;
	transition:1s ease-out;
	visibility:hidden;
}
.flex-img{
	position:relative;
	left:-800px;
	transition:1s ease-out;
	visibility:hidden;
}
#textTr{
	left:-800px;
	visibility:hidden;
}
#imgTr{
	left:800px;
	visibility:hidden;
}
.flex-text:first-letter{
	font-weight:bold;
	font-size:40px;
}
.section-web:first-letter{
	color:#ffcc66;
}
.section-traduction:first-letter{
	color:#cccc66
}
.section-cuisine:first-letter{
	color:#66ccff;
}