@media only screen and (max-width:768px){
	.presentation div:first-child{
		display:none;
	}
	.presentation div:last-child{
		display:none;
	}
}
div.presentation{
	background-color:black;
	color:white;
	box-shadow:10px 10px 10px #3D3232;
	padding:0px;
}
div.presentation::after{
	content:"";
	clear:both;
	display:table;
}
.presentation div{
	float:left;
}
.presentation div:last-child{
	margin-top:300px;

}
img{
	max-width:100%
	height:auto;
}
.presentation h2{
	text-align:left;
	margin-bottom:20px;
}
.presentation h3 {
	text-align:right;
	margin-bottom:20px;
}
.presentation a{
	color:white;
	text-decoration:none;
}
.presentation a:hover{
	text-decoration:underline;
}
.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:auto;
	margin-bottom:30px;
	width:80%;
	flex-wrap:wrap;
}
.flex-item{
	padding:10px;
}
.flex-text{
	text-indent:50%;
	text-align:justify;
	width:500px;
	line-height:2;
	position:relative;
	left:800px;
	transition:1s ease-out;
	visibility:hidden;
}
.flex-img{
	position:relative;
	left:-800px;
	transition:1s ease-out;
	visibility:hidden;
}
#textTr{
	left:-800px;
	visibility:hidden;
}
#imgTr{
	left:800px;
	visibility:hidden;
}
.flex-text:first-letter{
	font-weight:bold;
	font-size:40px;
}
.section-web:first-letter{
	color:#ffcc66;
}
.section-traduction:first-letter{
	color:#cccc66
}
.section-cuisine:first-letter{
	color:#66ccff;
}