div.menu{
	color:white;
	background-image:url('../IMAGE/banner-1440.jpg');
	width:100%;
	height:412px;
	margin:auto;
	position:relative;
}
div.menu nav{
	position:absolute;
	top:13px;
	right:7px;
}
div.menu h1{
	font-size:60px;
	position:absolute;
	top:98px;
	left:300px;
}
div.menu h2{
	font-size:30px;
	position:absolute;
	top:208px;
	left:400px;
	font-weight:normal;
}
div.menu h2 + h2 {
	top:248px;
	left:250px;
}
div.menu nav a{
	text-decoration:none;
	color:white;
}
div.menu ul{
	text-align:right;
}
div.menu nav li{
	display:inline-block;
	list-style:none;
	font-size:28px;
	margin-right:5px;
}
div.menu nav li.menu a:visited{
text-decoration:underline;
}