div.menu{
	color:white;
	background-image:url('../IMAGE/banner-1440.jpg');
	width:100%;
	height:412px;
	position:relative;
}
nav{
	position:fixed;
	width:100%;
	background-color:#3B6F40;
	padding:0px;
}
div.menu h1{
	font-size:60px;
	position:absolute;
	top:98px;
	left:300px;
}
div.menu h2{
	font-size:30px;
	position:absolute;
	top:208px;
	left:400px;
	font-weight:normal;
}
div.menu h2 + h2 {
	top:248px;
	left:250px;
}
nav a{
	text-decoration:none;
	color:white;
}
nav ul{
	margin:0px;
	padding:0px;
	
}
nav li{
	display:inline-block;
	list-style:none;
	font-size:28px;
	width:24%;
	padding:0px;
	margin:5px;
	text-align:center;
}
nav li a:visited{
text-decoration:underline;
}