*{
	margin:0;
	padding:0;
}
.bloc{
	width:100%;
	margin-bottom:30px;
}
#accordeon{
	max-width:1000px;
	margin:auto;
}

h3{
	position:relative;
	background-color:rgba(245,173,75,1);
	padding:30px;
	text-align:center;
}
h3:hover{
	cursor:pointer;
}
.bloc div{
	text-align: center;
	background-color: rgba(76,113,82,0.35);
	max-height:0;
	overflow:hidden;
	transition:1s ease-out;
}
.bloc:first-child div{
	max-height:500px;
}

.bloc ul{
	text-align:left;
	max-width:500px;
	margin:auto;
	padding:10px;
}
.bloc ul li{
	margin-bottom:10px;
}
.bloc h4{
	margin:20px 0 20px 0;
}